<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
    <h2>User List</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
                <a th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/add">Add User</a>
</body>
</html>
